body, html{
  height:100%;
  font-family: verdana;
}
body{
  margin: 0px;
  background: url("images/moonBackground.png") no-repeat center center fixed;
  -webkit-background-size : cover;
  background-size: 200%;
  /*background-color:#444;*/
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: indigo;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
 #lineDancerButton{
  padding:5px 12px;
  color: red;
  float:right;
}
/*.topbar{
  height:32px;
  background-color: #555;
}*/
/*.title{
  background-color: #777;
}*/
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer {
  position: absolute;
  content: url("images/manDancing.svg");
  width:100px;
  height:100px;
}

.popDancer {
  position: absolute;
  content: url("images/mjDance.gif");
  width:200px;
  height:200px;
}

.thrillerDancer {
  position: absolute;
  content: url("images/movingDance.gif");
  width:200px;
  height:200px;
}

.flipH {
        transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -khtml-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
}

.moonWalk {
  -webkit-animation: moonWalk 5s linear infinite;
  animation: moonWalk 5s linear infinite;
        
}

@keyframes moonWalk {
  0% {
    transform: translateX(0px);
  }
  47% {
    transform: translateX(-300px) rotateY(0deg);
  }
  50% {
    transform: translateX(-300px) rotateY(180deg);
  }
  99% {
    transform: translateX(0px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}

@-webkit-keyframes moonWalk {
  0% {
    -webkit-transform: translateX(0px);
  }
  47% {
    -webkit-transform: translateX(-300px) rotateY(0deg);
  }
  50% {
    -webkit-transform: translateX(-300px) rotateY(180deg);
  }
  99% {
    -webkit-transform: translateX(0px) rotateY(180deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotateY(0deg);
  }
}